{% extends 'base.html' %}

{% block title %}
    Корзина
{% endblock %}

{% block body %}
    <form action="" method="post">
        {% csrf_token %}
        <h3>Корзина</h3>
        {% if items %}
            {% for item in items %}
                <div class="card mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <a href="{{ item.get_absolute_url }}" class="card-title h5">{{ item.name }}</a>
        <!--                <h5 class="card-title">{{ item.name }}</h5>-->
                        <img src="..." class="card-img-top" alt="...">
                        <p class="card-text">{{ item.desc }}</p>
                        <p class="card-text">{{ item.price }} руб.</p>
                    </div>
                </div>
            {% endfor %}
            <h3>Итоговая цена {{ total_price }} руб.</h3>
            <button type="submit" class="btn btn-primary">Оформить заказ</button>
        {% else %}
            <p>Корзина пока пуста</p>
        {% endif %}
    </form>
{% endblock %}
