{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orda</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'bootstrap-5.0.0/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap-5.0.0/dist/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/manager_panel.css' %}">
</head>
<body class="min-vh-100 position-relative">
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
        <div class="container-fluid">
            <a class="navbar-brand mr-0" href="{% url 'home' %}">
                <img src="{% static 'media/images/main/logo.png' %}" height="30" width="30">
                <span class="navbar-brand mr-0 h1">Orda</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active h5" aria-current="page" href="{% url 'home' %}">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5" href="{% url 'catalog' %}">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5" href="{% url 'cart_detail' %}">Корзина</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link h5" href="{% url 'profile' request.user.id %}">{{ request.user }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link h5" href="{% url 'login' %}">Личный кабинет</a>
                        </li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <h3>Orda-Shop — ваш личный эксперт в области косметики</h3>
                <p>С 2016 года мы поставляем на российский рынок косметические средства различных производителей. Большинству из них нет аналогов в нашей стране. Это лучшие бренды, отобранные нами лично, чтобы вы могли пользоваться только эффективной и безопасной косметикой по привлекательным ценам.</p>
                <p>Наша миссия — позволить вам выглядеть привлекательно и молодо долгие годы, пользуясь натуральной качественной косметикой. Именно поэтому мы остановили свой выбор на марках, создающих безопасную и экологичную косметику.</p>
                <p>Натуральные компоненты и продуманный состав — это то, что отличает ассортимент нашего магазина. В нашей косметике вы не найдете парабенов, формальдегидов и других веществ, наносящих вашей коже непоправимый вред.</p>
                <p>Мы опробовали всю представленную косметику на себе, прежде чем предлагать ее вам, поэтому каждый товар в нашем каталоге дополнен полезной информацией по использованию, видеообзорами и лайфхаками. Все это мы собрали для вас.</p>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <img class="rounded mw-100 p-3 d-block" src="{% static 'media/images/main/room.jpg' %}">
            </div>
        </div>
        <div class="container-fluid">
            <h3>Orda-Shop сегодня — это</h3>
            <div class="row">
                <div class="col mt-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body bg-light">
                            <h5 class="card-title">Все в наличии</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Вы получите заказ быстро, без лишних ожиданий поставок от производителей</h6>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col mt-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body bg-light">
                            <h5 class="card-title">Без наценки</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Собственная логистика и склад в Краснодаре позволяет  нам сохранять оптовые цены</h6>
                        </div>
                    </div>
                </div>
                <div class="col mt-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body bg-light">
                            <h5 class="card-title">Оффлайн-магазины</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Всю косметику с нашего сайта вы можете выбрать вживую в наших магазинах</h6>
                        </div>
                    </div>
                </div>
                <div class="col mt-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body bg-light">
                            <h5 class="card-title">Знаем, что продаем</h5>
                            <h6 class="card-subtitle mb-2 text-muted">И делимся с вами обзорами каждого товара и секретами по их использованию</h6>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <h3>Отлаженная система логистики</h3>
                    <p>Наличие регулярных поставок от производителей на наш склад обеспечивает нам постоянное обновление ассортимента, а вам — возможность получить заказ за несколько дней.</p>
                    <img class="rounded mw-100 p-3 d-block" src="{% static 'media/images/main/logistik.jpg' %}">
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <h3>Офлайн магазины</h3>
                    <p>Вся продукция представлена в наших магазинах, куда вы можете приехать и увидеть всю косметику вживую, получить консультации по использованию и выбрать то, что по душе именно вам.</p>
                    <img class="rounded mw-100 p-3 d-block" src="{% static 'media/images/main/offline-shop.jpg' %}">
                </div>
            </div>
        </div>
    </div>
<!--    <footer class="container-fluid bg-dark position-absolute bottom-0 ">-->
    <footer class="container-fluid bg-dark mt-3">
        <div class="container">
            <div class="row padding text-center">
                <h2 class="text-white mt-3">Наши контакты:</h2>
                <div class="col mt-1 mb-3">
                    <h3 class="text-white">8 800 555 35 35</h3>
                    <h5 class="text-white">info@orda-shop.ru</h5>
                </div>
                <div class="col mb-3">
                    <h5 class="text-white">Мы в Instagram</h5>
                    <div class="row">
                        <a href="https://instagram.com/orda_msk" class="text-white text-decoration-none">Москва <i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="row">
                        <a href="https://instagram.com/orda_spb" class="text-white text-decoration-none">Санкт-Петербург <i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="row">
                        <a href="https://instagram.com/orda_krd" class="text-white text-decoration-none">Краснодар <i class="fa fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col mt-2 mb-3">
                    <p class="text-white">Сайт разработан</p>
                    <p class="text-white h6">Софьей Обыденниковой</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>