{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ country.name }}
{% endblock %}

{% block js_scripts %}
    <script src="{% static 'js/cart_manager.js' %}"></script>
{% endblock %}

{% block body %}
    <h3>{{ country.name }}</h3>
    {% if page.object_list %}
        {% include 'catalog_template.html' %}
    {% else %}
        <h5>У нас пока нет товаров из этой страны</h5>
    {% endif %}
{% endblock %}

{% block manager_panel %}
    <a href="{% url 'country_update' slug=country.slug %}" class="btn btn-light">Редактировать</a>
    <a href="{% url 'country_delete' slug=country.slug %}" class="btn btn-danger">Удалить</a>
{% endblock %}

