{% extends 'base.html' %}

{% block title %}
    Заказы
{% endblock %}

{% block body %}
    <h3>Список заказов</h3>
    {% if orders %}
        <table class="table">
            <thead>
                <th scope="col">№</th>
                <th scope="col">Номер заказа</th>
                <th scope="col">Клиент</th>
                <th scope="col">Статус</th>
                <th scope="col">Время оформления</th>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td scope="row">{{ forloop.counter }}</td>
                        <td scope="row"><a href="{{ order.get_absolute_url }}manage">{{ order.slug }}</a></td>
                        <td scope="row">{{ order.user }}</td>
                        <td scope="row">{{ order.status.desc }}</td>
                        <td scope="row">{{ order.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Пока нет заказов</p>
    {% endif %}
{% endblock %}
