{% extends 'base.html' %}

{% block title %}
    Заказы
{% endblock %}

{% block body %}
    <h3>Ваши заказы</h3>
    {% if orders %}
        <table class="table">
            <thead>
                <th scope="col">№</th>
                <th scope="col">Номер заказа</th>
                <th scope="col">Статус</th>
                <th scope="col">Время оформления</th>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td scope="row">{{ forloop.counter }}</td>
                        <td scope="row"><a href="{{ order.get_absolute_url }}">{{ order.slug }}</a></td>
                        <td scope="row">{{ order.status.desc }}</td>
                        <td scope="row">{{ order.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>У вас пока нет заказов</p>
    {% endif %}
{% endblock %}

{% block manager_panel %}
    <a href="{% url 'order_management' %}" class="btn btn-light">Работа с заказами</a>
{% endblock %}
