{% load static %}

<h3>Товары:</h3>
<div class="container">
    <div class="row">
    {% for item in items %}
        <div class="col-lg-4 col-sm-6 col-xs-12 d-flex align-items-stretch mb-4">
            <div class="card">
                <div class="card-body">
                    {% if item.img %}
                        <img src="{{ item.img.url }}" class="card-img-top" alt="...">
                    {% else %}
                        <img src="{% static 'media/images/main/no_img.png' %}" class="card-img-top" alt="...">
                    {% endif %}
                    <a href="
                    {{ item.get_absolute_url }}" class="card-title h5"><p class="text-truncate">{{ item.name }}</p></a>
                    <p class="card-text text-truncate">{{ item.desc }}</p>
                    <p class="card-text">{{ item.price }} руб.</p>
                    {% if item.count > 0 %}
                        <p class="card-text">На складе {{ item.count }} шт.</p>
                        {% if item in items_in_cart %}
                            <button class="btn btn-secondary" value="{{ item.id }}" onclick="removeItemFromButton(this)">убрать из корзины</button>
                        {% else %}
                            <button class="btn btn-primary" value="{{ item.id }}" onclick="addItemFromButton(this)">В корзину</button>
                        {% endif %}
                    {% else %}
                        <p class="card-text">Нет на складе</p>
                        {% if item in items_in_cart %}
                            <button class="btn btn-secondary" value="{{ item.id }}" onclick="removeItemFromButton(this)">убрать из корзины</button>
                        {% else %}
                            <button class="btn btn-primary" value="{{ item.id }}" onclick="addItemFromButton(this)" disabled>В корзину</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>