{% extends 'base.html' %}
{% load static %}
{% load users_tags %}

{% block title %}
    Магазин
{% endblock %}

{% block js_scripts %}
    <script src="{% static 'js/cart_manager.js' %}"></script>
{% endblock %}

{% block side_bar %}
    <div class="col-3 d-none d-md-block d-lg-block">
        <form action="" method="post">
            {% csrf_token %}
            <h3>Фильтры</h3>
            <div class="p-2 d-grid gap-2">
                {% for field in form %}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#{{ field.name }}" aria-expanded="false" aria-controls="collapseExample">
                        {{ field.label }}
                    </button>
                    <div class="collapse" id="{{ field.name }}">
<!--                        <div class="btn-vertical">-->
                            {{ field }}
<!--                        </div>-->
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Применить</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block body %}
    {% include 'catalog_form.html' %}
    {% if request.user|in_group:"Manager" or request.user.is_superuser %}
        <div class="container">
            <div class="card mb-3" style="width: 18rem;">
                <div class="card-body">
                    <a href="{% url 'item_add' %}" class="card-title h5">Добавить Товар</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}