{% extends 'base.html' %}
{% load static %}

{% block title %}
Удаление товара
{% endblock %}

{% block body %}
<form action="" method="post">
    {% csrf_token %}
    <h3>Удаление товара</h3>
    <h3>{{ item.name }}</h3>
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12 float-left">
            {% if item.img %}
                <img src="{{ item.img.url }}" class="card-img-top" alt="...">
            {% else %}
                <img src="{% static 'media/images/main/no_img.png' %}" class="card-img-top" alt="...">
            {% endif %}
            <p>Цена: {{ item.price }} руб.</p>
            <p>На складе: {{ item.count }}</p>
        </div>
        <div class="col">
            <h4>{{ item.desc }}</h4>
            <p>Производитель: <a href="{% url 'brand_detail' slug=item.brand.slug %}">{{ item.brand.name }}</a></p>
            <p>Категории:
                {% for category in item.category.all %}
                    <a href="{% url 'category_detail' slug=category.slug %}">{{ category.name }}</a>
                {% endfor %}
            </p>
            <p>Страна производитель: <a href="{% url 'country_detail' slug=item.country.slug %}">{{ item.country.name }}</a></p>
        </div>
    </div>

    <a href="{% url 'item_detail' slug=item.slug %}" class="btn btn-primary">Назад</a>
    <button type="submit" class="btn btn-danger">Удалить</button>
</form>
{% endblock %}