{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ item.name }}
{% endblock %}

{% block js_scripts %}
    <script src="{% static 'js/cart_manager.js' %}"></script>
{% endblock %}

{% block body %}
    <h3>{{ item.name }}</h3>
    <div class="col-lg-4 col-sm-6 col-xs-12 float-left">
        {% if item.img %}
            <img src="{{ item.img.url }}" class="card-img-top" alt="...">
        {% else %}
            <img src="{% static 'media/images/main/no_img.png' %}" class="card-img-top" alt="...">
        {% endif %}
    </div>
    <p>{{ item.desc }}</p>
    <h4>Цена: {{ item.price }} руб.</h4>
    <h4>На складе: {{ item.count }}</h4>
    {% if in_cart %}
        <button class="btn btn-secondary" value="{{ item.id }}" onclick="removeItemFromButton(this)">Убрать из корзины</button>
    {% else %}
        <button class="btn btn-primary" value="{{ item.id }}" onclick="addItemFromButton(this)">В корзину</button>
    {% endif %}
{% endblock %}

{% block manager_panel %}
    <a href="{% url 'item_update' slug=item.slug %}" class="btn btn-light">Редактировать</a>
    <a href="{% url 'item_delete' slug=item.slug %}" class="btn btn-danger">Удалить</a>
{% endblock %}
