{% extends 'base.html' %}
{% load static %}

{% block title %}
Удаление товара
{% endblock %}

{% block body %}
<form action="" method="post">
    {% csrf_token %}
    <p>Удаление товара</p>
    <h3>{{ item.name }}</h3>
    {% if item.img %}
        <img src="{{ item.img.url }}" class="card-img-top" alt="...">
    {% else %}
        <img src="{% static 'media/images/main/no_img.png' %}" class="card-img-top" alt="...">
    {% endif %}
    <p>Цена: {{ item.price }} руб.</p>
    <p>На складе: {{ item.count }}</p>
    <h4>{{ item.desc }}</h4>
    <a href="{% url 'item_detail' slug=item.slug %}" class="btn btn-primary">Назад</a>
    <button type="submit" class="btn btn-danger">Удалить</button>
</form>
{% endblock %}