{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ item.name }}
{% endblock %}

{% block js_scripts %}
    <script src="{% static 'js/cart_manager.js' %}"></script>
{% endblock %}

{% block body %}
    <h3>{{ item.name }}</h3>
    <img src="..." class="card-img-top" alt="...">
    <p>Цена: {{ item.price }} руб.</p>
    <p>На складе: {{ item.count }}</p>
    <h4>{{ item.desc }}</h4>
    {% if in_cart %}
        <button class="btn btn-secondary" value="{{ item.id }}" onclick="addItemToCart(this)" disabled>В корзине</button>
    {% else %}
        <button class="btn btn-primary" value="{{ item.id }}" onclick="addItemToCart(this)">В корзину</button>
    {% endif %}
<!--    <button class="btn btn-primary" value="{{ item.id }}" onclick="addItemToCart(this)">В корзину</button>-->
<!--    <a href="#" class="btn btn-primary">В корзину</a>-->
{% endblock %}
